.navbar-light .navbar-brand {
    color: white !important;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
}

.navbar-light .navbar-toggler{
    color: white !important;
}
.navbar-light.bg-light{
    background-color: #6b44cc !important;
}

.navbar-light .navbar-nav .show>.nav-link, .navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active {
    color: white;
}

.navbar {
    background-color: #6b44cc !important;
}
.bg-light {
    background-color: #6b44cc !important;
    color: white;
}

.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
}

.App-header {
    background-color: #bf0cff !important;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}
h2 {
    font-size: 22px;
}
.App-link {
    color: #09d3ac;
}

#header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    color: white;
}

#loginDiv{
    margin-top: 100px;
    text-align: center;
    display: block;
    left: auto;
    right: auto;
    margin-right: 10%;
    margin-left: 10%;
}

#loginHeader{
    font-size: 40px;
    color: white;
}
.myImage {
    width: 270px;
    height: 270px;
    display: block;
    margin-left: auto;
    margin-right: auto;    background-image: url("./logo512x512.png");
    background-repeat: no-repeat;
    margin-top: 25px;
    background-size: 100%;
}

body{
    background-color: #6b44cc !important;
}

#popupDiv{
    width:500px;
    padding: 18px 10px 10px 10px;
    display: none;
    position: absolute;
    background-color: #F8F8FF;
    width: 100%;
    bottom: 0;
    margin: auto;
    border-top: 3px solid #ffcf4b;
    z-index: 2;
    border-radius: 7px;
    overflow: auto;
    min-height: 20vh;
    max-height: 40vh;
}

.mapdiv {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
}

.mapboxgl-ctrl-top-left {
    margin-top: 50px;
}

.geocoder-dropdown-item{
    padding: 5px
}
.geocoder-dropdown-icon{
    margin-right: 10px;
}
.geocoder-dropdown-text{
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
}

.mapboxgl-ctrl-top-right {
    margin-top: 50px;
}

.reviewtekst {
    margin-left: 30%;
    color: black;
    margin-top: -150px;
}

.reviewernaam {
    margin-top: 100px;
    margin-right: 70%;
    white-space: nowrap;
    overflow: hidden;
    max-width: 300px;
    border-left:1em solid transparent;
    border-right:1em solid transparent;
    text-overflow: ellipsis;
}

.bold {
    font-weight:bold;
}
img {
    max-width: 25%;
    height: auto;
}

.stars-container {
    position: relative;
    display: inline-block;
    color: transparent;
    font-size: 25px;
}

.stars-container:before{
    position: absolute;
    top: 0;
    left: 0;
    content: '★★★★★';
    color: darkgrey;
}

.stars-container:after {
    position: absolute;
    top: 0;
    left: 0;
    content: '★★★★★';
    color: #ffcf4b;
    overflow: hidden;
}

.stars-0:after { width: 0%; }
.stars-10:after { width: 10%; }
.stars-20:after { width: 20%; }
.stars-30:after { width: 30%; }
.stars-40:after { width: 40%; }
.stars-50:after { width: 50%; }
.stars-60:after { width: 60%; }
.stars-70:after { width: 70%; }
.stars-80:after { width: 80%; }
.stars-90:after { width: 90%; }
.stars-100:after { width: 100%;}

@media all and (max-width: 768px){
    .mapboxgl-popup-content{
        height: 275px;
        width: 225px;
    }
}

.mapboxgl-popup-content {
    background: #e8e8e8;
    border:2px solid black;
    border-radius: 10px;
    text-align: center;
    overflow: auto;
}

h10{
    text-align: center;
    font-size: 20px;
}

.close {
    color: red;
    position: absolute;
    right: 10px;
    top: 5px;
    font-size: 30px;
}

#addPinpoint {
    position: absolute;
    z-index: 100;
    right: 10px;
    background-color: #ffffff;
    color: #333333;
    border-radius: 5px;
    border-color: #dad5ce;
    border-width: 1.3px;
    padding: 2.8px 8.3px 2.8px 8.3px;
    top: 100px;
}

#addPinpoint.active{
    color: #39b7e6;
}

